@import "@styles/Colors";
@import "@styles/Mixins";

@mixin button-color($color1, $color2) {
  background: linear-gradient(to right, $color1, $color2);
  box-shadow: $shadow-gray;
  &:hover,
  &:active {
    background: white;
    box-shadow: 0px 0px 30px $color1 / 0.7;
    p {
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      background-image: linear-gradient(180deg, $color1, $color2, $color1);
      background-size: 100% 300%;
      background-position-y: 0%;
      animation: gradient 3s infinite;
      @keyframes gradient {
        from {
          background-position-y: 0%;
        }
        to {
          background-position-y: 100%;
        }
      }
    }
  }
}

@mixin small-btn-color($maincolor, $fontcolor) {
  background-color: $maincolor;
  color: $fontcolor;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
    font-size: 10px !important;
  }
  &:hover,
  &:active {
    background: $fontcolor;
    color: $maincolor;
    box-shadow: 0px 0px 10px $maincolor / 0.7;
  }
}
@mixin deal-btn-color($color) {
  background-color: $gray-5;
  color: $gray-3;
  p {
    text-align: center;
  }
  &:hover,
  &:active,
  &.activated {
    background-color: $color;
    color: $gray-2;
    box-shadow: 0px 0px 15px darken($color, 10%);
  }
}

.commonButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 20px;

  // 크기관리
  &.large {
    border-radius: 10px;
    width: 300px;
    height: 63px;
    font-weight: 900;
    font-size: 18px;
    padding: 14px 56px;
    color: white;
    @include mobile {
      width: 230px;
      height: 58px;
    }
  }
  &.small {
    min-width: 30px;
    height: 16px;
    border-radius: 20px;
    font-size: 12px;
    padding: 0px 7px;
  }

  // 색상관리
  &.dark-blue {
    @include button-color($indigo-1, $gray-1);
  }
  &.purple {
    @include button-color($indigo-2, $violet-1);
  }
  &.pink {
    @include button-color($pink-1, $pink-2);
  }
  &.yellow {
    @include button-color($yellow-1, $yellow-2);
  }
  &.pink-s {
    @include small-btn-color($pink-2, $gray-2);
  }
  &.yellow-s {
    @include small-btn-color($yellow-2, $gray-2);
  }
  &.indigo {
    @include small-btn-color($indogo-4, $gray-2);
  }
  &.white {
    @include small-btn-color(white, $gray-2);
  }
  &.kakao {
    @include button-color($yellow-1, $yellow-1);
  }

  // 경매 Dealtype
  &.deal {
    width: 50px;
    height: 22px;
    border-radius: 20px;
    font-size: 10px;
    padding: 0px 5px;
  }
  &.All {
    @include deal-btn-color($pink-1);
  }
  &.Auction {
    @include deal-btn-color($indogo-4);
  }
  &.Sharing {
    @include deal-btn-color($yellow-2);
  }
  &.Trade {
    @include deal-btn-color($pink-2);
  }

  // 나중에 삭제
  & + & {
    margin: 10px;
  }
}
