@import "@styles/Colors";

@mixin button-color($color1, $color2) {
  background: linear-gradient(to right, $color1, $color2);
  box-shadow: $shadow-gray;
  &:hover,
  &:active {
    background: $white-op;
    box-shadow: 0px 0px 30px $color1 / 0.7;
    p {
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      background-image: linear-gradient(180deg, $color1, $color2, $color1);
      background-size: 100% 300%;
      background-position-y: 0%;
      animation: gradient 3s infinite;
      @keyframes gradient {
        from {
          background-position-y: 0%;
        }
        to {
          background-position-y: 100%;
        }
      }
    }
  }
}

.commonButton {
  border-radius: 10px;
  width: 300px;
  height: 63px;
  font-weight: 900;
  font-size: 18px;
  padding: 14px 56px;
  color: white;

  &.dark-blue {
    @include button-color($indigo-1, $gray-1);
  }
  &.purple {
    @include button-color($indigo-2, $violet-1);
  }
  &.pink {
    @include button-color($pink-1, $pink-2);
  }
  &.yellow {
    @include button-color($yellow-1, $yellow-2);
  }
  // 나중에 삭제
  & + & {
    margin: 10px;
  }
}
