@import "@styles/Colors";
@import "@styles/Mixins";

@mixin icon-wrapper($color) {
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 5px 0;
  svg {
    width: 24px;
    color: $color;
  }
  p {
    margin: 0;
  }
}

.auction-page-upper-container {
  display: flex;
  justify-content: center;
}
.auction-page-all-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  @include desktop {
    width: 100%;
    justify-content: space-between;
  }
  @include tablet {
    width: 90%;
  }
  @include mobile {
    width: 90%;
  }

  .track {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    .dealContent {
      white-space: nowrap;
      will-change: transform;
      animation: marquee 10s linear infinite;
      -webkit-animation: marquee 10s linear infinite;
      .dealContnet-text {
        color: #fff;
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #ff008049,
          0 0 4px #ff008049, 0 0 5px #ff008049, 0 0 6px #ff008049,
          0 0 7px #ff008049;
      }
    }
    @keyframes marquee {
      from {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
      }
      to {
        transform: translateX(-200%);
        -webkit-transform: translateX(-200%);
        -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
        -o-transform: translateX(-200%);
      }
    }
  }

  .a-page-inputbox-container {
    bottom: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .a-page-inputbox-button {
      background-color: $white-op;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      padding: 0;
      svg {
        width: 24px;
        color: $indigo-1;
      }
    }
    .input-message-container {
      width: 92%;
      animation: inputSlideLeftRight 0.8s;
      -webkit-animation: inputSlideLeftRight 0.8s;
    }
    .a-page-inputbox-button.active {
      display: none;
    }
  }
}

// Auction.tsx (상위 경매창)
.auctionbox-all-conatiner {
  background-color: $white-op;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include desktop {
    max-height: 530px;
    width: 60%;
  }
  @include tablet {
    width: 100%;
  }
  @include mobile {
    width: 100%;
  }

  //AuctionDealCard.tsx(경매되는거래정보카드)
  .auction-dealcard-container {
    background-color: $white-op;
    box-shadow: $shadow-gray;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    .a-dealcard-img {
      align-items: center;
      display: flex;
      img {
        max-width: 80px;
        max-height: 200px;
      }
    }
    .a-dealcard-right {
      .a-dealcard-icon {
        @include icon-wrapper($indigo-1);
      }
      width: 100%;
      .a-dealcard-title {
        p {
          margin: 5px 0;
          text-align: left;
          color: $indigo-1;
          font-weight: 900;
        }
      }
      .a-dealcard-date-time {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
      }
      .a-dealcard-progressbar {
        @include timer-progressbar;
        margin: 5px 0;
      }
    }
    .common-modal-box {
      .commonButton {
        margin-top: 20px;
      }
    }
  }

  // RealtimeBidCard.tsx (현재입찰가)
  .realtime-bid-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    background-color: $white-op;
    box-shadow: $shadow-gray;
    padding: 10px;

    .realtime-bid-left {
      margin-right: 50px;
      p {
        font-weight: 900;
        color: $indigo-1;
      }
    }
    .realtime-bid-right {
      @include mobile {
        width: 100%;
      }
      width: 80%;
      display: flex;
      justify-content: space-between;
      .fire {
        @include icon-wrapper($pink-1);
        font-weight: 900;
        color: $indigo-1;
      }
      .r-const-ppl-wrapper {
        display: flex;
        gap: 40px;
        .up {
          display: flex;
          gap: 5px;
          align-items: center;
          margin: 5px 0;
          svg {
            width: 20px;
            color: $pink-1;
            rotate: -90deg;
          }
          p {
            margin: 0;
          }
        }
        .user {
          @include icon-wrapper($indigo-1);
          svg {
            width: 20px;
          }
        }
      }
    }
  }

  // 경매 가격창
  .bid-box-container-upper {
    display: flex;
    justify-content: center;
    .bid-box-container {
      padding: 15px;
      width: 100%;
      // @include scrollbar-css;
      @include desktop {
        height: 250px;
      }
      @include tablet {
        height: 150px;
      }
      @include mobile {
        height: 100px;
      }

      display: flex;
      flex-direction: column-reverse;
      overflow: hidden;
      .cost-box-wrapper {
        position: relative;
        background-color: $white-op;
        width: 150px;
        height: 40px;
        border-radius: 10px;
        align-items: center;
        display: flex;
        justify-content: center;
        box-shadow: $shadow-purple;
        color: $indigo-1;
        margin: 10px;
        animation: fadeOut 3s forwards;
        opacity: 1;
      }
      @keyframes fadeOut {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          display: none;
        }
      }
      .left {
        margin-right: auto;
      }

      .right {
        margin-left: auto;
      }
    }
  }
}

// ChattingBox.tsx (하위 채팅창)
.chattingbox-all-container {
  // z-index: 100;
  background-color: $white-op;
  border-radius: 10px;
  padding: 20px;
  // @include scrollbar-css;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 10px;
    &-thumb {
      background-color: white;
      border-radius: 10px;
    }
    &-track {
      background-color: transparent;
    }
  }
  @include desktop {
    width: 30%;
    height: 530px;
  }
  @include tablet {
    width: 100%;
    height: 200px;
  }
  @include mobile {
    width: 100%;
    height: 200px;
  }
  .private-chatroom-content-container {
    p {
      margin: 0;
      text-align: left;
      font-size: 14px;
      word-wrap: break-word;
    }
    .not-me-chat {
      .not-me-chat-message {
        display: flex;
        gap: 5px;
        margin: 10px 0;
        align-items: center;
        max-width: 60%;
        min-width: 40px;
        img {
          width: 40px;
          color: $gray-3;
          border-radius: 40px;
          display: flex;
        }
        p {
          margin: 0;
        }
        .not-me-chat-name {
          font-weight: 900;
        }
      }
    }
    .its-me-chat {
      margin: 10px 0;
      display: flex;
      justify-content: flex-end;
      .its-me-chat-box {
        background-color: $violet-2;
        border-radius: 10px 10px 0px 10px;
        padding: 5px;
        max-width: 60%;
        min-width: 40px;
      }
    }
  }
  .box-bottom-wrapper {
    width: 100%;
  }
}

@keyframes inputSlideLeftRight {
  0% {
    width: 8%;
  }
  100% {
    width: 92%;
  }
}
