@import "@styles/Colors.scss";
@import "@styles/_Mixins.scss";

@mixin user-deal-card-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0px;
  color: $gray-1;
}
@mixin user-deal-card-font-size {
  font-size: 14px;
  font-weight: 700;
  margin: 0px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-deal-card-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 300px;
  width: 180px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 2px 2px 4px rgba(107, 114, 128, 0.3);
  border-radius: 10px;
  z-index: 0;
  svg {
    width: 12px;
    height: 12px;
    color: $indigo-2;
  }
  button {
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  .user-deal-card-delete {
    position: absolute;
    top: -13px;
    left: 7px;
    padding: 0px;
    background: transparent;
    z-index: 1;
    svg {
      width: 24px;
      height: 24px;
      color: $pink-1;
    }
  }

  .user-deal-card-wrapper-img {
    background: white;
    position: relative;

    .deal-tag {
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 16px;
      margin: 5px 5px 0px 0px;
      font-size: 10px;
      font-weight: 400;
      background-color: $violet-2;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .deal-img {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      width: 100%;
      height: 140px;
      object-fit: cover;
    }
  }

  .user-deal-card-wrapper-containers {
    padding: 5px;
    height: 140px;
  }

  .user-deal-card-wrapper {
    @include user-deal-card-wrapper;
  }

  .user-deal-card-container-p {
    @include user-deal-card-font-size;
  }

  .user-deal-card-title {
    font-size: 14px;
    font-weight: 700;
    // margin: 5px 0px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
    color: $gray-2;
    font-weight: 900;
    font-size: 16px;
  }
}
