.mainpage-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.temp-direction-div {
  margin: 10px;
  button {
    width: 100px;
    height: 50px;
    background-color: bisque;
  }
}
