// 사용법은 @import './Colors.scss';
// 컬러칩은 Figma 순서대로

// Indigo
$indigo-1: #312E81;
$indigo-2: #4F46E5;
$indogo-3: #6366F1;
$indogo-4: #C7D2FE;

// Pink
$pink-1: #EC4899;
$pink-2: #FBCFE8;

// Yellow
$yellow-1: #FDE047;
$yellow-2: #FEF9C3;

// Violet
$violet-1: #A78BFA;
$violet-2: #EDE9FE;


//Gray
$gray-1: #111827;
$gray-2: #374151;
$gray-3: #6B7280; // 기본 gray
$gray-4: #D1D5DB; 
$gray-5: #F3F4F6;
$gray-6: #F9FAFB;


// single colors
$white: #fff;
$kakao: #ffe812;
