// 사용법은 @import './Colors.scss';
// 컬러칩은 Figma 순서대로

// Indigo
$indigo-1: #312e81;
$indigo-2: #4f46e5;
$indogo-3: #6366f1;
$indogo-4: #c7d2fe;

// Pink
$pink-1: #ec4899;
$pink-2: #fbcfe8;

// Yellow
$yellow-1: #fde047;
$yellow-2: #fef9c3;

// Violet
$violet-1: #a78bfa;
$violet-2: #ede9fe;

//Gray
$gray-1: #111827;
$gray-2: #374151;
$gray-3: #6b7280; // 기본 gray
$gray-4: #d1d5db;
$gray-5: #f3f4f6;
$gray-6: #f9fafb;

// single colors
$white: #fff;

// 투명한 하얀색 배경
$white-op: rgba(255, 255, 255, 0.7);

// 그림자
$shadow-gray: 2px 2px 4px rgba(107, 114, 128, 0.3);
$shadow-indigo: 0px 0px 30px rgba(79, 70, 229, 0.5);
$shadow-pink: 0px 0px 30px rgba(236, 72, 153, 0.5);
$shadow-yellow: 0px 0px 30px rgba(253, 224, 71, 0.5);
$shadow-purple: 0px 0px 30px rgba(237, 233, 254, 1);
