// _Mixins.scss
@import "./Variables";
@import "./Colors";

// 반응형 미디어쿼리
@mixin mobile {
  @media ( (max-width: #{$breakpoint-tablet - 1px})) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

// tab 클릭시 효과적용
@mixin mypage-tab-focus {
  &:active,
  &:hover {
    color: $pink-1;
    text-decoration: underline;
    text-underline-position: under;
    font-weight: 900;
  }
}
