@import "./Variables";
@import "./Colors";

// 반응형 미디어쿼리
@mixin mobile {
  @media ( (max-width: #{$breakpoint-tablet - 1px})) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

// 네브바 hover & active 함수
@mixin pink-hover-active {
  &:hover,
  &:active {
    transition: transform 0.5s ease;
    color: $pink-1;
    text-decoration: underline;
    text-underline-position: under;
    scale: 1.1;
    font-weight: 900;
  }
}
