@import "@styles/Colors";

.meeting-deal-main-contaienr {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  background: rgba(49, 49, 49, 0.8);
  background-image: url("../../assets/BGstars.svg");
  .meeting-deal-overay {
    padding: 0px;
    .meeting-deal-box {
      width: 70%;
      min-width: 240px;
      // height: 50%;
      min-height: 400px;
      height: 70%;
      //   max-height: 70%;
      z-index: 99;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $white-op;
      border-radius: 10px;
      padding: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      // 로딩
      .loading-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
          width: 40px;
        }
      }

      .meeting-deal-component-container {
        width: 100%;
        height: 100%;

        .meeting-socket-component-container {
          width: 100%;
          height: 100%;
          position: relative;
          .go-back-icon-text-container {
            position: absolute;
            display: flex;
            background: none;
            align-items: center;
            top: 1px;
            left: 10px;
            cursor: pointer;
            
            svg {
              width: 15px;
              margin-bottom: 0;
              color: $indigo-2;
            }
            p {
              margin-left: 5px;
              font-size: 12px;
              color: $gray-2;
            }
          }
          .go-back-icon-text-container:hover {
            text-decoration: underline;
          }

          .map-main-container {
            min-width: 240px;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .map-top-container {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              margin-top: 30px;
              padding: 0 30px;
              height: 40%;
              .deal-location-information-container {
                height: 50%;
                h3 {
                  text-align: left;
                  justify-self: flex-start;
                  align-self: flex-start;
                  margin-bottom: 0;
                }
              }
              // 상황별 표시 내용
              .deal-situational-contents-container {
                height: 50%;
                button {
                  width: 130px;
                  height: 30px;
                  border-radius: 10px;
                  padding: 3px 5px;
                  background-color: #fff;
                }
              }
            }
            .map-bottom-container {
              height: 60%;
              position: relative;

              .loc-info-box {
                position: absolute;
                display: flex;
                flex-direction: row;
                width: 180px;
                padding: 2px 1px;
                bottom: 10px;
                right: 0px;
                margin-right: 5px;
                z-index: 99;
                background-color: rgba($color: #fff, $alpha: 0.9);
                border-radius: 10px;
                align-items: center;
                justify-content: center;

                font-size: 12px;
              }
              .buy-button-box {
                position: absolute;
                display: flex;
                flex-direction: row;
                padding: 2px 1px;
                bottom: 55px;
                width: 100%;
                // right: calc(50% - 240px);
                margin-right: 5px;
                z-index: 99;
                .commonButton {
                  scale: 0.8;
                  margin: auto;
                }
              }
              #map {
                min-width: 240px;
                width: 100%;
                height: 100%;
                min-height: 240px;
                margin: 0;
                border-bottom-right-radius: 20px;
                border-bottom-left-radius: 20px;
              }
            }
          }
        }
      }
    }
  }
}
