@import "@styles/Mixins";
@import "@styles/Colors";
@import "@styles/Animation";

@mixin navbar-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  .web-navbar-logo-menu {
    align-items: center;
    display: flex;
    gap: 50px;
  }
  .web-navbar-profile {
    display: flex;
    align-items: center;
    img,
    svg {
      cursor: pointer;
      width: 35px;
      color: $gray-4;
      z-index: 1;
      object-fit: cover;
      border-radius: 35px;
      z-index: 20;
    }
  }
}

.navbar {
  p {
    margin: 0;
    color: $gray-3;
    font-weight: 700;
    @include mypage-tab-focus;
  }
  // 데스크톱
  @include desktop {
    .web-navbar-wrapper {
      @include navbar-wrapper;
    }
    .mobile-navbar-wrapper {
      display: none;
    }
  }

  // 테블릿
  @include tablet {
    .web-navbar-wrapper {
      @include navbar-wrapper;
    }
    .mobile-navbar-wrapper {
      display: none;
    }
  }
  // 모바일
  @include mobile {
    .web-navbar-wrapper {
      display: none;
    }
    .mobile-navbar-wrapper {
      height: 35px;
      padding: 30px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      svg {
        cursor: pointer;
        width: 35px;
        color: $gray-1;
      }
    }
    .mobile-sidebar-wrapper {
      @include fadeBesideEnter;
      position: absolute;
      z-index: 100;
      top: 0;
      right: 0;
      width: 70%;
      height: 90vh;
      background-color: rgba(255, 255, 255, 0.8);
      display: flex;
      flex-direction: column;
      padding: 30px;
      .mobile-nav-close-btn {
        display: flex;
        justify-content: flex-end;
        svg {
          color: $pink-1;
          width: 35px;
        }
      }
      .mobile-sidebar-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        p {
          font-size: 16px;
          cursor: pointer;
        }
      }
    }
  }
}
