@import "@styles/Colors.scss";
@import "@styles/_Mixins.scss";

.signup-page-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .signup-desktop-flex-div {
    @include desktop {
      display: flex;
      min-width: 500px;
      max-width: 600px;
      justify-content: space-around;
    }
    label {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
      }
      .add-profile-img-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 120px;
        font-size: 14px;
        font-weight: 700;
        margin-top: 10px;
        background-color: $white;
        border-radius: 10px;
        padding: 5px 10px;
        svg {
          width: 16px;
          height: 16px;
          color: $indigo-2;
        }
      }
    }
  }

  // 우측 박스
  .signup-desktop-right-box {
    display: flex;
    flex-direction: column;

    @include desktop {
      min-width: 400px;
      text-align: left;
      p {
        margin-bottom: 5px;
      }
    }

    .text-input-wrapper {
      width: 253px;
      margin: auto;
      @include desktop {
        margin-left: 60px;
      }
      p {
        text-align: left;
        padding-left: 10px;
        font-weight: 700;
      }

      // nickname
      .email-nickname-input-wrapper {
        width: 252px;
        height: 45px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 12px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);

        input {
          width: 68%;
          height: 90%;
          border: none;
          background: none;
          padding-left: 10px;
        }
        button {
          width: 30%;
          background: none;
          color: $indigo-2;
          display: flex;
          justify-content: flex-end;
          margin-right: 5px;
        }
        svg {
          width: 25px;
          justify-self: flex-end;
        }
      }
    }
  }
  // 하단 알림
  .nickname-alert-msg-wrapper {
    height: 50px;
    font-size: 12px;
    color: $pink-1;

    @include desktop {
      margin-left: 65px;
    }
    .success-p {
      color: $indigo-2;
    }
  }

  // 최하단 가입 버튼
  .signup-button-wrapper {
    button {
      margin-top: 30px;
      @include desktop {
        margin-top: 70px;
      }
    }
  }
}
