@import "@styles/Mixins";

.realtime-page-container {
  justify-self: center;
  padding: 0 20px;

  // desktop영역에서 좌우배치
  @include desktop {
    display: flex;
    padding: 0;
  }

  // components title

  .realtime-page-title-div {
    display: flex;
    align-items: flex-end;
    svg {
      width: 25px;
      margin-right: 5px;
      margin-bottom: 2px;
      color: $indigo-1;
    }
    .realtime-page-component-title-p {
      text-align: left;
      font-weight: 700;
      font-size: 22px;
      margin-bottom: 0;
      @include mobile {
        font-size: 16px;
        font-weight: 800;
      }
    }
  }
  .realtime-page-helper-p {
    font-size: 12px;
    text-align: left;
    margin: 0;
    margin-bottom: 5px;
    color: $pink-1;
  }

  // map
  .realtime-map-component-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 644px;

    a {
      color: $indigo-2;
      text-decoration: underline;
    }

    #map {
      margin: 0 auto;
      margin-top: 10px;
      height: 292px;
      width: 100%;
    }

    @include desktop {
      width: 644px;
    }
  }

  // CardList
  .realtime-deal-card-list-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 644px;

    @include desktop {
      width: 350px;
    }
  }
}

// Loading

.loading-modal-content-box {
  margin-top: 300px;

  p {
    color: white;
  }

  img {
    width: 45px;
  }
}
