@import "@styles/Mixins";
@import "@styles/Colors";

.create-deal-page-container {
  justify-self: center;
  padding: 0 20px;
  margin-bottom: 60px;
  min-width: 230px;

  button {
    margin: auto;
  }

  // desktop 기준 레이아웃 변경
  @include desktop {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: calc(100%-40px);
    margin: auto;
    .create-deal-desktop-left-div {
      width: 50%;
    }
    .create-deal-desktop-right- {
      width: 50%;
    }
  }

  // 기본 정보 입력
  .deal-info-input-component-container {
    // display: flex;
    // flex-direction: column;
    text-align: left;
    max-width: 399px;
    margin: auto;

    // deal 타입 선택 버튼 모음
    .deal-type-buttons-container {
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 10px;
      min-width: 280px;
      flex-wrap: wrap;
      button {
        margin: 0 5px;
        // background-color: $white-op;
        // border: 1px solid $gray-4;
        // margin-right: 10px;
        // padding: 3px 5px;
        // border-radius: 8px;
      }
    }

    // 타이틀 인풋만 크기 조정
    .deal-title-input {
      font-size: 16px;
    }

    // 라벨링 된 부분만 별도 마진 적용
    label {
      p {
        margin-top: 15px;
      }
    }

    // 그 외 인풋값들 스타일 동일
    input,
    textarea {
      width: 97.5%;
      padding: 2px 5px;
      margin: 5px auto;
      border: none;
      border-radius: 5px;
      box-shadow: 2px 2px 4px rgba(107, 114, 128, 0.3);
      background-color: $white-op;
      color: $gray-2;
    }
    input {
      height: 32px;
    }
    textarea {
      height: 95px;
    }
  }

  // 이미지 업로드
  .create-deal-img-input-wrapper {
    min-height: 140px;
    min-width: 266px;
    max-width: 400px;
    margin: 10px auto;
    .upload-img-wrapper {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: $white-op;
      border: 1px dashed $gray-4;
      cursor: pointer;

      @media (min-width: 439px) {
        height: 210px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    input {
      display: none;
    }
    @include desktop {
      // 딜타입 버튼영역만큼 위에 여백 추가
      padding-top: 46px;
      width: 400px;
    }
  }

  // 주소 등록
  .create-deal-location-component-container {
    text-align: left;
    max-width: 399px;
    margin: 10px auto;
    #map {
      margin: 0 auto;
      max-width: 400px;
      min-width: 280px;
      height: 210px;
    }
    input {
      width: 97.5%;
      height: 32px;
      padding: 2px 5px;
      margin: 5px auto;
      border: none;
      border-radius: 5px;
      box-shadow: 2px 2px 4px rgba(107, 114, 128, 0.3);
      background-color: $white-op;
      color: $gray-2;
    }
  }

  // 검색 영역
  .search-modal-content-component-container {
    padding: none;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    // @include scrollbar-css;

    .concert-card-component-container {
      margin-top: 10px;
    }
  }
}
