@import "@styles/Colors";

.App {
  margin: 0;
  text-align: center;
  background: linear-gradient(
    to bottom right,
    rgba(165, 213, 252, 0.2),
    rgba(251, 207, 232, 0.2),
    rgba(254, 249, 195, 0.2),
    rgba(237, 233, 254, 0.2)
  );
  height: 100vh;
  color: $gray-1;
}
