@import "@styles/Colors";
@import "@styles/Mixins";

.App {
  margin: auto;
  text-align: center;
  min-height: 100vh;
  max-width: 1024px;
  a {
    text-decoration: none;
    color: $gray-1;
  }


  button {
    border: none;
    // padding: 0;
    // margin: 0;
    cursor: pointer;
    font-family: "NanumSquare", sans-serif;
  }
}
