@import "@styles/Colors";

.search-bar-container {
  display: inline-flex;
  justify-content: space-between;
  margin: 5px auto;
  border: none;
  border-radius: 8px;
  background-color: $white-op;
  box-shadow: 3px 3px 5px rgba(107, 114, 128, 0.3);
  width: 100%;

  svg {
    width: 25px;
    margin: 0 10px;
  }
  input {
    font-size: 14px;
    border: none;
    background-color: inherit;
    width: 100%;
  }
  button {
    border: none;
    // width:100%;
    background-color: inherit;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    p {
      color: $indigo-2;
      margin: 0;
      width: 40px;
    }
  }
}
