@import "@styles/Colors.scss";
@import "@styles/_Mixins.scss";

@mixin userdeal-tag-button {
  font-size: 16px;
  font-weight: 400;
  margin-right: 8px;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: $gray-2;
}
// MyPage
.mypage-main-container {
  display: flex;
  justify-content: center;
  padding: 0 20px;

  .mypage-contents-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .modal-p {
      font-size: 16px;
      font-weight: 600;
      color: $gray-2;
      text-align: start;
      margin-bottom: 10px;
    }

    .modal-h2 {
      color: $gray-2;
      margin: 10px 0px 20px 0px;
    }

    .common-modal-button {
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      .yes-button {
        font-size: 12px;
        width: 50px;
        height: 20px;
        border-radius: 5px;
        background-color: $indigo-2;
        color: $white;
      }

      .no-button {
        font-size: 12px;
        width: 50px;
        height: 20px;
        border-radius: 5px;
      }
    }

    // UserInfo
    .userinfo-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .userinfo-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .userid {
          display: flex;
          align-items: center;
          margin: 0;
          font-size: 18px;
          font-weight: 700;
          color: $gray-2;
        }
        .edit-profile-button {
          width: 130px;
          height: 21px;
          font-size: 14px;
          font-weight: 700;
          color: $gray-2;
          padding: 0;
          background-color: $white;
          border: none;
          border-radius: 20px;
          box-shadow: $shadow-gray;
          svg {
            width: 12px;
            color: $indigo-2;
          }
        }
      }

      .profile {
        width: 73px;
        height: 73px;
      }
      svg {
        width: 73px;
        color: $gray-4;
      }
    }

    // UserCash

    .usercash-container {
      display: flex;
      flex-direction: column;
      margin-top: 30px;

      .link-decoration {
        text-decoration: none;
      }
      .usercash-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        background-color: $white;
        border: none;
        border-radius: 10px;
        width: 100%;
        .ticket {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          width: 84px;
        }
        .ticket-tag {
          font-size: 14px;
          font-weight: 400;
        }
        .ticket-icon {
          width: 26px;
          height: 26px;
          color: $indigo-2;
        }
        .cash-box {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .cash {
            font-size: 18px;
            font-weight: 700;
            margin: 0;
          }
        }

        .charge {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          width: 110px;
        }
        .dollar-tag {
          font-size: 14px;
          font-weight: 400;
        }
        .currnecy-dollar-icon {
          width: 26px;
          height: 26px;
          color: $indigo-2;
        }
        .chevron-right-icon {
          width: 12px;
          color: $indigo-2;
          margin-right: 9px;
        }
      }
    }

    // UserDeal

    .userdeal-components-container {
      margin-top: 30px;

      .userdeal-tabs-container {
        display: flex;
        flex-direction: row;
        justify-content: start;
        button {
          @include mypage-tab-focus;
          @include userdeal-tag-button;
        }
      }
    }
  }
}
