@import "@styles/Colors.scss";
@import "@styles/_Mixins.scss";

// MyPage
.mypage-container-upper {
  display: flex;
  justify-content: center;

  .mypage-container {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    @include mobile {
      width: 252px;
      max-width: 252px;
    }
    @include tablet {
      // width: 637px;
      max-width: 637px;
    }
    @include desktop {
      // width: 637px;
      max-width: 637px;
    }

    // UserInfo
    .userinfo-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-width: 100%;

      .userinfo-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .userid {
          display: flex;
          align-items: center;
          width: 102px;
          height: 40px;
          font-size: 18px;
          font-weight: 700;
          color: $gray-2;
        }
        .edit-profile {
          width: 130px;
          height: 21px;
          font-size: 14px;
          font-weight: 700;
          color: $gray-2;
          padding: 0;
          background-color: $white;
          border: none;
          border-radius: 20px;
          box-shadow: $shadow-gray;
          svg {
            width: 12px;
            color: $indigo-2;
          }
        }
      }

      .profile {
        width: 73px;
        height: 73px;
      }
      svg {
        width: 73px;
        color: $gray-4;
      }
    }

    // UserCash

    .usercash-container {
      display: flex;
      flex-direction: column;
      // align-items: center;
      margin-top: 5vh;

      .link-decoration {
        text-decoration: none;
      }
      .usercash-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        background-color: $white;
        border: none;
        border-radius: 10px;
        @include mobile {
          width: 252px;
          max-width: 252px;
          height: 42.5px;
          max-height: 42.5px;
        }
        @include tablet {
          width: 637px;
          max-width: 637px;
          height: 42.5px;
          max-height: 42.5px;
        }
        @include desktop {
          width: 637px;
          max-width: 637px;
          height: 42.5px;
          max-height: 42.5px;
        }
        .ticket {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          width: 84px;
        }
        .ticket-tag {
          width: 31px;
          height: 15px;
          font-size: 14px;
          font-weight: 400;
        }
        .ticket-icon {
          width: 26px;
          height: 26px;
          color: $indigo-2;
        }
        .cash-box {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .cash {
            width: 102px;
            font-size: 18px;
            font-weight: 700;
            margin: 0;
          }
        }

        .charge {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          width: 110px;
        }
        .dollar-tag {
          width: 56px;
          height: 18px;
          font-size: 14px;
          font-weight: 400;
        }
        .currnecy-dollar-icon {
          width: 26px;
          height: 26px;
          color: $indigo-2;
        }
        .chevron-right-icon {
          width: 12px;
          color: $indigo-2;
          margin-right: 9px;
        }
      }
    }

    // UserDeal

    .userdeal-container {
      margin-top: 5vh;
      min-width: 100%;
    }
    .userdeal-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: start;

      .favorite {
        @include mypage-tab-focus;
        width: 54px;
        font-size: 12px;
        font-weight: 400;
        margin-right: 8px;
        padding: 0;
        border: 0;
        background-color: transparent;
        color: $gray-2;
      }
      .getmy {
        @include mypage-tab-focus;
        width: 80px;
        font-size: 12px;
        font-weight: 400;
        margin-right: 8px;
        padding: 0;
        border: 0;
        background-color: transparent;
        color: $gray-2;
      }
      .participated {
        @include mypage-tab-focus;
        width: 66px;
        font-size: 12px;
        font-weight: 400;
        padding: 0;
        border: 0;
        background-color: transparent;
        color: $gray-2;
      }
    }
  }
}
