@import "@styles/Colors";

/* 모달창을 화면 중앙. 최상단에 노출 */
.container {
  /*모달창크기*/
  width: 300px;
  height: 220px;
  /*최상단위치*/
  z-index: 99;
  /*중앙배치*/ /*top,bottom,left,right는브라우저기준으로작동한다.*/ /*translate는본인의크기기준으로작동한다.*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*모달창디자인*/
  background-color: $indigo-2;
  border-radius: 10px;
}

/* 모달창 내부 X버튼 */
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  svg {
    color: $pink-1;
    width: 24px;
  }
}
